
First_acquisition/18maypbao/sub-P001/ses-S002/eeg/sub-P001_ses-S002_task-Default_run-001_eeg.xdf
First_acquisition/18maypbao/sub-P001/ses-S001/eeg/sub-P001_ses-S001_task-Default_run-001_eeg.xdf
First_acquisition/18maypbao/sub-P001/ses-S002/eeg/sub-P001_ses-S002_task-Default_run-001_eeg_old1.xdf
First_acquisition/__pycache__/INTERNET.cpython-310.pyc
First_acquisition/models/model1/training_log.csv
First_acquisition/models/model10/training_log.csv
First_acquisition/models/model11_30/checkpoint-epoch16-loss1.4568.h5
First_acquisition/models/model11_30/checkpoint-epoch32-loss1.4058.h5
First_acquisition/models/model11_30/checkpoint-epoch48-loss1.3908.h5
First_acquisition/models/model11_30/checkpoint-epoch64-loss1.3847.h5
First_acquisition/models/model11_30/model112.h5
First_acquisition/models/model11_30/training_log.csv
First_acquisition/models/model12_30/checkpoint-epoch16-loss1.4803.h5
First_acquisition/models/model12_30/checkpoint-epoch32-loss1.4038.h5
First_acquisition/models/model12_30/checkpoint-epoch48-loss1.3953.h5
First_acquisition/models/model12_30/checkpoint-epoch64-loss1.3838.h5
First_acquisition/models/model12_30/model122.h5
First_acquisition/models/model12_30/training_log.csv
First_acquisition/models/model13/checkpoint-epoch16-loss1.5545.h5
First_acquisition/models/model13/checkpoint-epoch32-loss1.5238.h5
First_acquisition/models/model13/checkpoint-epoch48-loss1.5182.h5
First_acquisition/models/model13/checkpoint-epoch64-loss1.5152.h5
First_acquisition/models/model13/model132.h5
First_acquisition/models/model13/training_log.csv
First_acquisition/models/model14/training_log.csv
First_acquisition/models/model15/training_log.csv
First_acquisition/models/model16/training_log.csv
First_acquisition/models/model17/training_log.csv
First_acquisition/models/model18/checkpoint-epoch16-loss1.6105.h5
First_acquisition/models/model18/training_log.csv
First_acquisition/models/model19/checkpoint-epoch16-loss1.4555.h5
First_acquisition/models/model19/checkpoint-epoch32-loss1.4065.h5
First_acquisition/models/model19/checkpoint-epoch48-loss1.3848.h5
First_acquisition/models/model19/checkpoint-epoch64-loss1.3724.h5
First_acquisition/models/model19/model192.h5
First_acquisition/models/model19/training_log.csv
First_acquisition/models/model2/checkpoint-epoch16-loss1.5480.h5
First_acquisition/models/model2/checkpoint-epoch32-loss1.5483.h5
First_acquisition/models/model2/checkpoint-epoch48-loss1.5478.h5
First_acquisition/models/model2/checkpoint-epoch64-loss1.5477.h5
First_acquisition/models/model2/model2.h5
First_acquisition/models/model2/training_log.csv
First_acquisition/models/model3/checkpoint-epoch16-loss1.6128.h5
First_acquisition/models/model3/checkpoint-epoch32-loss1.6113.h5
First_acquisition/models/model3/checkpoint-epoch48-loss1.6105.h5
First_acquisition/models/model3/checkpoint-epoch64-loss1.6100.h5
First_acquisition/models/model3/model3.h5
First_acquisition/models/model3/training_log.csv
First_acquisition/models/model33/checkpoint-epoch16-loss1.4442.h5
First_acquisition/models/model33/checkpoint-epoch32-loss1.4157.h5
First_acquisition/models/model33/checkpoint-epoch48-loss1.3897.h5
First_acquisition/models/model33/checkpoint-epoch64-loss1.3792.h5
First_acquisition/models/model33/model332.h5
First_acquisition/models/model33/training_log.csv
First_acquisition/models/model34/standard_scaler.pkl
First_acquisition/models/model34/training_log.csv
First_acquisition/models/model34standard_scaler.pkl
First_acquisition/models/model35/standard_scaler.pkl
First_acquisition/models/model35/training_log.csv
First_acquisition/models/model36_95_7ms/checkpoint-epoch16-loss0.1599.h5
First_acquisition/models/model36_95_7ms/checkpoint-epoch32-loss0.1414.h5
First_acquisition/models/model36_95_7ms/checkpoint-epoch48-loss0.1273.h5
First_acquisition/models/model36_95_7ms/checkpoint-epoch64-loss0.1478.h5
First_acquisition/models/model36_95_7ms/model36.h5
First_acquisition/models/model36_95_7ms/standard_scaler.pkl
First_acquisition/models/model36_95_7ms/training_log.csv
First_acquisition/models/model37/checkpoint-epoch16-loss0.9194.h5
First_acquisition/models/model37/checkpoint-epoch32-loss0.8816.h5
First_acquisition/models/model37/checkpoint-epoch48-loss0.7332.h5
First_acquisition/models/model37/checkpoint-epoch64-loss0.7169.h5
First_acquisition/models/model37/model37.h5
First_acquisition/models/model37/standard_scaler.pkl
First_acquisition/models/model37/training_log.csv
First_acquisition/models/model38/standard_scaler.pkl
First_acquisition/models/model38/training_log.csv
First_acquisition/models/model39/standard_scaler.pkl
First_acquisition/models/model39/training_log.csv
First_acquisition/models/model4/training_log.csv
First_acquisition/models/model40/checkpoint-epoch12-loss0.4463.h5
First_acquisition/models/model40/checkpoint-epoch28-loss0.3587.h5
First_acquisition/models/model40/checkpoint-epoch44-loss0.2819.h5
First_acquisition/models/model40/checkpoint-epoch60-loss0.2585.h5
First_acquisition/models/model40/model40.h5
First_acquisition/models/model40/standard_scaler.pkl
First_acquisition/models/model40/training_log.csv
First_acquisition/models/model41/standard_scaler.pkl
First_acquisition/models/model41/training_log.csv
First_acquisition/models/model42/checkpoint-epoch112-loss0.0506.h5
First_acquisition/models/model42/checkpoint-epoch128-loss0.0504.h5
First_acquisition/models/model42/checkpoint-epoch16-loss0.1762.h5
First_acquisition/models/model42/checkpoint-epoch32-loss0.0856.h5
First_acquisition/models/model42/checkpoint-epoch48-loss0.0869.h5
First_acquisition/models/model42/checkpoint-epoch64-loss0.0582.h5
First_acquisition/models/model42/checkpoint-epoch80-loss0.0556.h5
First_acquisition/models/model42/checkpoint-epoch96-loss0.0518.h5
First_acquisition/models/model42/saved_model/saved_model.pb
First_acquisition/models/model42/saved_model/variables/variables.data-00000-of-00001
First_acquisition/models/model42/saved_model/variables/variables.index
First_acquisition/models/model5/training_log.csv
First_acquisition/models/model6/training_log.csv
First_acquisition/models/model7/training_log.csv
First_acquisition/models/model8/checkpoint-epoch15-loss1.5386.h5
First_acquisition/models/model8/checkpoint-epoch16-loss1.6028.h5
First_acquisition/models/model8/checkpoint-epoch31-loss1.5337.h5
First_acquisition/models/model8/checkpoint-epoch32-loss1.5779.h5
First_acquisition/models/model8/checkpoint-epoch47-loss1.5285.h5
First_acquisition/models/model8/checkpoint-epoch48-loss1.5631.h5
First_acquisition/models/model8/checkpoint-epoch63-loss1.5266.h5
First_acquisition/models/model8/checkpoint-epoch64-loss1.5531.h5
First_acquisition/models/model8/model8.h5
First_acquisition/models/model8/model82.h5
First_acquisition/models/model8/training_log.csv
First_acquisition/models/model9/training_log.csv
First_acquisition/models/model{i}/training_log.csv
First_acquisition/models/standard_scaler.pkl
First_acquisition/models/test/checkpoint-epoch16-loss1.6161.h5
First_acquisition/models/test/checkpoint-epoch16-loss1.6165.h5
First_acquisition/models/test/test.h5
First_acquisition/models/test/training_log.csv
First_acquisition/models/test10/checkpoint-epoch112-loss1.6105.h5
First_acquisition/models/test10/checkpoint-epoch128-loss1.6104.h5
First_acquisition/models/test10/checkpoint-epoch144-loss1.6104.h5
First_acquisition/models/test10/checkpoint-epoch16-loss1.6140.h5
First_acquisition/models/test10/checkpoint-epoch160-loss1.6103.h5
First_acquisition/models/test10/checkpoint-epoch176-loss1.6106.h5
First_acquisition/models/test10/checkpoint-epoch192-loss1.6106.h5
First_acquisition/models/test10/checkpoint-epoch208-loss1.6104.h5
First_acquisition/models/test10/checkpoint-epoch224-loss1.6104.h5
First_acquisition/models/test10/checkpoint-epoch240-loss1.6104.h5
First_acquisition/models/test10/checkpoint-epoch256-loss1.6106.h5
First_acquisition/models/test10/checkpoint-epoch32-loss1.6120.h5
First_acquisition/models/test10/checkpoint-epoch48-loss1.6113.h5
First_acquisition/models/test10/checkpoint-epoch64-loss1.6103.h5
First_acquisition/models/test10/checkpoint-epoch80-loss1.6105.h5
First_acquisition/models/test10/checkpoint-epoch96-loss1.6104.h5
First_acquisition/models/test10/test10.h5
First_acquisition/models/test10/training_log.csv
First_acquisition/models/test11/training_log.csv
First_acquisition/models/test12/checkpoint-epoch16-loss1.6169.h5
First_acquisition/models/test12/checkpoint-epoch32-loss1.6119.h5
First_acquisition/models/test12/checkpoint-epoch48-loss1.6104.h5
First_acquisition/models/test12/checkpoint-epoch64-loss1.6099.h5
First_acquisition/models/test12/test12.h5
First_acquisition/models/test12/training_log.csv
First_acquisition/models/test12_nobreak/checkpoint-epoch16-loss1.4099.h5
First_acquisition/models/test12_nobreak/checkpoint-epoch32-loss1.3934.h5
First_acquisition/models/test12_nobreak/checkpoint-epoch48-loss1.3902.h5
First_acquisition/models/test12_nobreak/checkpoint-epoch64-loss1.3888.h5
First_acquisition/models/test12_nobreak/test12_nobreak.h5
First_acquisition/models/test12_nobreak/training_log.csv
First_acquisition/models/test12_only2/checkpoint-epoch16-loss0.9024.h5
First_acquisition/models/test12_only2/checkpoint-epoch32-loss0.7570.h5
First_acquisition/models/test12_only2/checkpoint-epoch48-loss0.7156.h5
First_acquisition/models/test12_only2/checkpoint-epoch64-loss0.7075.h5
First_acquisition/models/test12_only2/test12_only2.h5
First_acquisition/models/test12_only2/training_log.csv
First_acquisition/models/test13/training_log.csv
First_acquisition/models/test14/checkpoint-epoch16-loss1.6105.h5
First_acquisition/models/test14/training_log.csv
First_acquisition/models/test15/training_log.csv
First_acquisition/models/test15=/training_log.csv
First_acquisition/models/test15==/training_log.csv
First_acquisition/models/test15=w=/training_log.csv
First_acquisition/models/test15=ws=/training_log.csv
First_acquisition/models/test3/checkpoint-epoch16-loss1.6117.h5
First_acquisition/models/test3/training_log.csv
First_acquisition/models/test4/checkpoint-epoch16-loss1.6121.h5
First_acquisition/models/test4/checkpoint-epoch32-loss1.6110.h5
First_acquisition/models/test4/training_log.csv
First_acquisition/models/test5/checkpoint-epoch16-loss1.6764.h5
First_acquisition/models/test5/training_log.csv
First_acquisition/models/test6/checkpoint-epoch112-loss1.6878.h5
First_acquisition/models/test6/checkpoint-epoch128-loss1.6844.h5
First_acquisition/models/test6/checkpoint-epoch144-loss1.6812.h5
First_acquisition/models/test6/checkpoint-epoch16-loss1.7123.h5
First_acquisition/models/test6/checkpoint-epoch160-loss1.6781.h5
First_acquisition/models/test6/checkpoint-epoch32-loss1.7077.h5
First_acquisition/models/test6/checkpoint-epoch48-loss1.7033.h5
First_acquisition/models/test6/checkpoint-epoch64-loss1.6992.h5
First_acquisition/models/test6/checkpoint-epoch80-loss1.6952.h5
First_acquisition/models/test6/checkpoint-epoch96-loss1.6914.h5
First_acquisition/models/test6/training_log.csv
First_acquisition/models/test7/checkpoint-epoch16-loss1.6714.h5
First_acquisition/models/test7/checkpoint-epoch32-loss1.6508.h5
First_acquisition/models/test7/checkpoint-epoch48-loss1.6378.h5
First_acquisition/models/test7/checkpoint-epoch64-loss1.6288.h5
First_acquisition/models/test7/checkpoint-epoch80-loss1.6231.h5
First_acquisition/models/test7/training_log.csv
First_acquisition/models/test8/checkpoint-epoch16-loss1.6139.h5
First_acquisition/models/test8/checkpoint-epoch32-loss1.6110.h5
First_acquisition/models/test8/checkpoint-epoch48-loss1.6112.h5
First_acquisition/models/test8/checkpoint-epoch64-loss1.6112.h5
First_acquisition/models/test8/checkpoint-epoch80-loss1.6112.h5
First_acquisition/models/test8/training_log.csv
First_acquisition/models/test9/checkpoint-epoch16-loss1.6129.h5
First_acquisition/models/test9/checkpoint-epoch32-loss1.6115.h5
First_acquisition/models/test9/training_log.csv
First_acquisition/models/your_model_name/checkpoint-epoch12-loss0.1607.h5
First_acquisition/models/your_model_name/training_log.csv
First_acquisition/models/your_model_name/your_model_name.h5
First_acquisition/parn/sub-P001_ses-S001_task-Default_run-001_eeg.xdf
